<%- include("partials/header") %>

	<div class="container">

		<div class="row">
			<div class="col-sm-6">
				<img src="<%= design.url %>" class="img-fluid full-image">
			</div>
			<div class="col-sm-6">
				<h1><%=design.name%></h1>
				<p><%= design.description %></p>
			</div>
		</div>
    </div>

<%- include ("partials/footer") %>